.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__close {
  position: absolute;
  top: -40px;
  right: -30px;
  background-image: url(../../assets/close_btn.png);
  width: 40px;
  height: 40px;
  border: transparent;
  background-color: transparent;
}

.modal__content {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  padding: 32px 36px 28px;
  width: 430px;
  box-sizing: border-box;
  border-radius: 20px;
  justify-content: flex-start;
  max-height: 457px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  margin: 0 0 22px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #2f71e5;
}

.modal__legend {
  font-family:
    Cabinet Grotesk Arial,
    Helvetica,
    sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000000;
  margin-top: 9px;
}

.modal__radio-buttons {
  margin: 0;
  border: none;
  padding: 24px 0;
}

.modal__label_type_radio {
  margin: 0;
  padding-bottom: 8px;
  display: block;
}

.modal__submit {
  position: relative;
  width: 353px;
  height: 64px;
  background-color: #2f71e5;
  color: #ffffff;
  border-style: none;
  border-radius: 100px;
  padding: 8px 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-top: 8px;
}

.modal__submit:disabled {
  background-color: #e6e8eb;
}

.modal__login-link {
  position: absolute;
  bottom: 1px;
  left: 180px;
  font-family:
    Cabinet Grotesk Arial,
    Helvetica,
    sans-serif;
  font-weight: 700;
  font-size: 16px;
  background: none;
  color: #000000;
  border: none;
  padding: 0;
}

.modal__register-link {
  position: absolute;
  bottom: 1px;
  left: 180px;
  font-family:
    Cabinet Grotesk Arial,
    Helvetica,
    sans-serif;
  font-weight: 700;
  font-size: 16px;
  background: none;
  color: #000000;
  border: none;
  padding: 0;
}

.modal__switch {
  color: #2f71e5;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
