.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__close {
  position: absolute;
  top: 11px;
  right: 30px;
  background-image: url(../../assets/Modal_close_btn.svg);
  width: 16px;
  height: 16px;
  border: transparent;
  background-color: transparent;
}

.modal__content {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  font-family: Cabinet Grotesk Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 24px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  font-family: Cabinet Grotesk Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.modal__legend {
  font-family: Cabinet Grotesk Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000000;
  margin-top: 8px;
}

.modal__radio-buttons {
  margin: 0;
  border: none;
  padding: 24px 0;
}

.modal__label_type_radio {
  margin: 0;
  padding-bottom: 8px;
  display: block;
}

.modal__submit {
  position: relative;
  width: 124px;
  height: 36px;
  background-color: #000000;
  color: white;
  border-style: none;
  border-radius: 4px;
  gap: 8px;
  padding: 8px 16px;
}

.modal__submit:hover {
  background-color: #00000099;
}

.modal__submit:disabled {
  background-color: #0000004d;
}

.modal__login-link {
  position: absolute;
  bottom: 44px;
  left: 160px;
  font-family: Cabinet Grotesk Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  background: none;
  color: #000000;
  border: none;
  padding: 0;
}

.modal__register-link {
  position: absolute;
  bottom: 44px;
  left: 160px;
  font-family: Cabinet Grotesk Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  background: none;
  color: #000000;
  border: none;
  padding: 0;
}
