.circle-preloader {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: spin 0.75s infinite linear;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
  padding: 0 88px;
}

.articles-header {
  font-size: 32px;
  margin-bottom: 20px;
  color: #222;
  width: 100%;
  text-align: center;
  position: relative;
}

.article-card {
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 576px;
}

.article-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.article-description {
  font-size: 16px;
  color: #666;
}

.article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 12px;
}

.article-save-button {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: white;
  top: 24px;
  right: 24px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
