.success-modal__content {
  width: 430px;
  box-sizing: border-box;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  text-align: center;
  padding: 40px 20px;
}

.success-modal__title {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  margin: 0 0 22px;
}

.close-btn {
  position: absolute;
  top: -40px;
  right: -30px;
  background-image: url(../../assets/close_btn.png);
  width: 40px;
  height: 40px;
  border: transparent;
  background-color: transparent;
}

.success-modal__button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.success-modal__link-btn {
  margin-top: 15px;
  font-size: 14px;
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}
