.app-header {
  background-color: transparent;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.app-header p {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 0 104px;
  color: white;
}

.home-link {
  text-decoration: none;
  font-size: 18px;
  color: white;
  margin-right: 42px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.header-login-btn {
  background-color: transparent;
  color: white;
  border: 1px solid #ccc;
  padding: 8px 16px;
  cursor: pointer;
  opacity: 1;
  border-radius: 100px;
  width: 176px;
  height: 48px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-right: 148px;
}

.saved-articles-link {
  text-decoration: none;
  color: #b6bcbf;
  margin-right: 42px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.home-link,
.saved-articles-link {
  position: relative;
  text-decoration: none;
}

.home-link::after,
.saved-articles-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 100%;
  height: 3px;
  background-color: white;
  opacity: 0;
}

.home-link_active::after {
  opacity: 1;
}
.saved-articles-link_active::after {
  opacity: 1;
}
