.about-me {
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.about-me__header {
  text-align: center;
  margin: 0;
}

.about-me__image {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  margin: 0;
  display: flex;
}

.about-me__description {
  text-align: center;
  max-width: 600px;
  margin: 0;
}

.about-me__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: fit-content;
  margin: auto;
}
